.vscode/**
.vscode-test/**
test/**
src/**.map
.gitignore
.vscodeignore
vsc-extension-quickstart.md
eslint.config.mjs
.vscode-test.mjs
jsconfig.json
**/*.js.map
**/*.ts
**/*.test.js
build_output.txt
node_modules/@types/**
node_modules/eslint/**
node_modules/@vscode/test-cli/**
node_modules/@vscode/test-electron/**
node_modules/esbuild/**
